#game{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: yellow;
}
.player-container{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 575px;
    height: 385px;
    text-align: center;
}
h1{
    text-align: center;
    background-color: blanchedalmond;
    margin: 50px;
}
h2{
    font-size: 36px;
    background-color: violet;
    margin: 0;
}
.score h2 {
    background-color: blue;
    width: 155px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.points-buttons button{
    width: 45px;
    height: 45px;
    margin: 0 4px;
}